# Autodetect text files and ensure that we normalise their
# line endings to lf internally. When checked out they may
# use different line endings.
* text=auto

# Check out with lf (UNIX) line endings
*.sln text eol=lf
*.csproj text eol=lf
*.cs text diff=csharp eol=lf
*.resx text eol=lf
*.vsixmanifest text eol=lf
packages.config text eol=lf
App.config text eol=lf
*.bat text eol=lf
*.cmd text eol=lf
*.snippet text eol=lf
*.manifest text eol=lf
*.licenseheader text eol=lf

*.sh text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.md text eol=lf
.travis.yml text eol=lf
